# source
git /extensions/AnimationFramework    https://github.com/OpenEngineDK/extensions-AnimationFramework.git
git-dev /extensions/AnimationFramework    git@github.com:OpenEngineDK/extensions-AnimationFramework.git
