# source
darcs /extensions/AnimationFramework    http://openengine.dk/code/extensions/AnimationFramework
darcs-dev /extensions/AnimationFramework    fh.daimi.au.dk:/users/cgd/code/extensions/AnimationFramework
